<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Create a new list
    </h1>

    <!-- Button extracted from https://bulma.io/documentation/form/general/ -->

    <!-- We get the input value from the placeholder with the template reference variable #listTitleInput createList(listTitleInput.value)-->
    <input #listTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter list name">

    <div class="buttons is-right">
        <button routerLink = "/" class="button is-medium" style="margin-top: 20px">Go back</button>
        <button class="button is-primary has-text-white is-medium" style="margin-top: 20px" (click)="createList(listTitleInput.value)">Create</button>
    </div>
  </div>
</div>