@import "../../../main-styles.scss";

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.task-manager-container {
  display: flex;

  height: 100%;
  width: 100%;
  max-width: 1000px;
  max-height: 680px;
}

.sidebar {
  display: flex;
  flex-direction: column;

  width: 250px;
  background: white;

  padding: 42px;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.task-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: 42px;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  .top-bar {
    margin-bottom: 20px;
    display: flex;
    .title{
      flex-grow: 1;
      margin: 0;
    }
  }
}

.title {
  font-family: "Lato";
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.list-menu {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  flex-grow: 1;

  .list-menu-item {
    display: flex;

    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;

    width: 100px;
    color: #5f5f5f;
    margin-bottom: 5px;

    &:hover {
      background: $light;
    }

    &.is-active {
      background-color: #cff8ef;
      color: $dark-green;
    }
  }
}

.task {
  display: flex;
  background: white;
  padding: 15px 20px; // Top and Bottom -- Left and Right
  border-radius: 5px;
  margin-top: 10px;

  align-items: center;
  // If not complete we can choose -- Clickable animations and transitions with hoover.
  &:not(.completed) {
    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.2s ease, opacity 0.2s;
    &:hover {
      box-shadow: 0 0 0 5px #eeeeee;

      .task-buttons-edit {
        opacity: 1;
        transform: scale(0.8);
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }

  // If completed we cannot do 
  &.completed  {
    text-decoration: line-through;
    opacity: 0.6;

    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.2s ease, opacity 0.2s;
    &:hover {
      box-shadow: 0 0 0 5px #eeeeee;

      .task-buttons-delete {
        opacity: 1;
        transform: scale(0.8);
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .task-text {
    display: flex;
    flex-grow: 1;
  }

  .task-buttons-edit {
    transition: opacity 0.2s, transform 0.2s;
    opacity: 0;
    transform: scale(0.5);
  }

  .task-buttons-delete {
    transition: opacity 0.2s, transform 0.2s;
    opacity: 0;
    transform: scale(0.5);
  }
}

.add-button{
  position: absolute;
  bottom:40px;
  right:40px;

  border-radius: 8px;
}

.empty-state-text {
  font-size: 20px;
  color: #777;
  text-align: center;
}