<div class="centered-content">
  <div class="task-manager-container">

    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        List
      </h1>

      <div class="list-menu">
        <!-- Built-in angular directive to active the routerLink is clicked -- routerLinkActive -->
        <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]"
          routerLinkActive="is-active">
          <p>{{list.title}}</p>
        </a>

      </div>

      <button class="button is-primary has-text-white" routerLink="/new-list">
        <h3 class="empty-state-text has-text-white"><b> Create new List </b></h3>
      </button>

    </div>


    <div class="task-list-container has-background-light">
      <div class="top-bar">
        <h1 class="title has-text-primary">
          Tasks
        </h1>


        <div class="dropdown is-hoverable is-right">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true">
              <span class="icon is-small">
                <i class="fas fa-cog" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu1" role="menu">
            <div class="dropdown-content">
              <div class="dropdown-content">
                <a [routerLink]="['/edit-lists', selectedListID]" class="dropdown-item">
                  Edit
                </a>
                <a (click)="onDeleteListClick()" class="dropdown-item has-text-danger">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Task elements ngClass allows us to put classes on elements -->
      <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)"
        [ngClass]="{'completed': task.completed}">
        <div class="task-text">
          <p>{{task.title}}</p>
        </div>
        <div class="task-buttons-edit">
          <button class="button" [routerLink]="['/lists', selectedListID, 'edit-task', task._id]">
            <div class="icon">
              <i class="fas fa-edit"></i>
            </div>
          </button>
        </div>
        <div class="task-buttons-delete">
          <button class="button is-danger" (click)=onDeleteTaskClick(task._id)>
            <div class="icon">
              <i class="fas fa-trash"></i>
            </div>
          </button>
        </div>
      </div>
      <button class="add-button button is-primary" routerLink="./new-task">
        <h3 class="empty-state-text has-text-white"><b> Create new task </b></h3>
      </button>


    </div>



  </div>
</div>