<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Edit a list
    </h1>

    <!-- Button extracted from https://bulma.io/documentation/form/general/ -->

    <!-- We get the input value from the placeholder with the template reference variable #listTitleInput createList(listTitleInput.value)-->
    <input #updateTitleInput class="input has-background-light is-medium" type="text" placeholder="Update list name">

    <div class="buttons is-right">
      <button routerLink="/" class="button is-medium" style="margin-top: 20px">Cancel</button>
      <button class="button is-primary has-text-white is-medium" style="margin-top: 20px"
        (click)="updateList(updateTitleInput.value)">Save</button>
    </div>
  </div>
</div>